body{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

nav{
    background-color: darkred;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

h1{
    text-align: center;
    margin-top: 50px;
}