<!DOCTYPE html>
<html>
<head>
    <title>RedHope</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav>
    <div class="brand">
        <img src="{{ url_for('static', filename='images/redhope_logo.png') }}" alt="RedHope Logo">
    </div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
    </div>
</nav>

<div class="flash-messages">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>

{% block content %}
{% endblock %}

</body>
</html>